@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color:#F2F2F2;
}

/* Button */

.button-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  margin: 0;
  padding: 8px 34px;
  display: block;
}

.button-search {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-left: 412px;
  padding: 8px 50px;
  width: 276px;
}

.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
}

.button-submit {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  width: 191px;
  height: 36px;
}

.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  width: 191px;
  height: 36px;
  margin: 40px;
}

.button-wrapper {
  flex-direction: column;
  margin-left: auto;
  text-align: center;
}

/* Light */
.button-light {
  color: #242424;
  background-color: #ffffff;
  width: 115px;
  height: 49px;
  margin-left: 70px;
}

.favorites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border: none;
}

.favorites-button-green {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  border: none;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
  border: none;
}
/* Pages */

.navigation {
  display: flex;
  column-gap: 44px;
}

.page-header-logo {
  width: 140px;
  padding: 0;
  margin-left: 20px;
}

.logo {
display: block;
margin: -6px;
position: relative;
}

.nav-list {
  width: 314px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  column-gap: 32px;
}

.nav-user {
  max-width: 306px;
  margin: 0 0 0 auto;
  list-style-type: none;
  display: flex;
  column-gap: 33px;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.nav-link-search {
width: 44px;
height: 64px;
display: block;
background-image: url("../images/icons_header/search.svg");
background-position: center;
background-repeat: no-repeat;
}

.hero {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/index/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  box-shadow: inset;
}

.container {
width: 1200px;
margin: 0 auto;
background-color: #FFFFFF;
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.header {
padding-left: 70px;
padding-right: 70px;
}

.hero-img {
  width: 1200px;
  margin: 0 auto;
}

.advantage-title {
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 290px;
}

.advantages-subtitle {
  width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-left: 274.5px;
}

/* List */
.advantages-list-city-sedona {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Title */
.advantages-item-city-sedona {
  background-color: #82B3D3;
  width: 100%;
  display: flex;
}

.advantages-location-road-tourist {
justify-content: center;
list-style-type: none;
}

.advantages-title-city-sedona {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 102px 102px;
  display: flex;
  text-align: center;
}

.advantages-description-city-sedona {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-location-road-tourist {
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
}

.advantages-title-location {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 30px;
}

.advantages-description-location {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#333333
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-location {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 385px;
  padding: 112px 85px;
  list-style-type: none;
}

.advantages-title-road {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
  padding: 0;
}

.dvantages-description-road {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 385px;
  padding: 112px 85px;
  margin: 0;
  list-style-type: none;
}

.advantages-title-tourist {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
  padding: 0;
}

.advantages-description-tourist {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  padding: 112px 85px;
  list-style-type: none;
}

.advantages-item-bridge {
  flex-basis: 100%;
  display: flex;
  align-self: stretch;
}

.advantages-title-bridge {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-description-bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-header-bridge {
  background-color: #82B3D3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 102px 85px;
  gap: 30px;
}

.advantage-title-2 {
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  padding: 0;
  margin-left: 348px;
}

.advantages-subtitle-2 {
  width: 490px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 64px;
  padding: 0;
  margin-left: 355px;
}

.advantages-list-service {
margin: 0;
padding: 0;
display: flex;
list-style-type: none;
}

.advantages-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height:385px;
  margin: 0;
  padding: 80px 85px;
}

.advantages-title-housing {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 30px;
  width: 230px;
}

.advantages-description-housing {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 230px;
}

.advantages-item-food {
  background-color: #FFFFFF;
  width: 400px;
  height:385px;
  margin: 0;
  padding: 80px 85px;
}

.advantages-title-food {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 30px;
  width: 230px;
}

.advantages-description-food {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 230px;
}

.advantages-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height:385px;
  margin: 0;
  padding: 80px 85px;
}

.advantages-title-souvenir {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 30px;
  width: 230px;
}

.advantages-description-souvenir {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 230px;
}

.question-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 20px;
}

.question-title {
  margin: 0;
  padding: 0;
  width: 297px;
  margin-left: 452px;
}

.question-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.question-subtitle {
  margin: 0;
  padding: 0;
  width: 600px;
  margin-left: 304px;
}

.newsletter {
  background-image: url("../images/index/subscribe.jpg");
  background-size: 1200px, 414px;
  background-repeat: no-repeat;
  padding: 0;
}

.newsletter-2 {
  background-color: #FFFFFF;

}

.page-footer-title {
  width: 404px;
  margin: 0 auto 29px;
  padding: 0;
}

.page-footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer-title-2 {
  width: 404px;
  margin: 0 auto 29px;
  padding: 0;
}

.page-footer-title-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.page-footer-subtitle {
  width: 475px;
  margin: 0;
  padding: 0;
  margin-left: 363px;
  text-align: center;
}

.page-footer-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.page-footer-subtitle-2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.page-footer-subtitle-2 {
  width: 475px;
  margin: 0;
  padding: 0;
  margin-left: 363px;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.field {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  padding: 12px 10px 12px 22px;
  box-sizing: border-box;
  border: none;
}

.footer-social-list {
width: 142px;
margin-left: 70px;
list-style-type: none;
}

.contacts {
  width: 331px;
  margin-left: 237px;
}

.about-text {
  width: 115px;
  margin-left: 236px;
}


/* Phone */
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.filters-search {
  color: #000000;
  background-color:#00ffff;
  background-image: url("../images/catalog/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.filter {
display: flex;
}

.catalog-filter-group {
border: none;
}

/* Breadcrumbs */
.breadcrumbs {
  color: #FFFFFF;
}

/* Link */
.breadcrumbs-link {
  width: 16px;
  height: 21px;
  color: inherit;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.control-input-min {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
}

.control-input-max {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
}

.sorting-container {
width: 1200px;
margin: 0;
padding: 0;
display: flex;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  list-style-type: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 70px;
  padding: 0;
  width: 338px;
  height: 36px;
  display: flex;
}

.select-control {
  font-family: inherit;
  color: #333333;
  width: 292px;
  height: 49px;
  display: flex;
  padding: 14px 20px;
  margin: 0;
}

.hotel-list {
list-style: none;
display: flex;
flex-wrap: wrap;
width: 1200px;
column-gap: 60px;

}

.hotel-card {
width: 340px;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}

.title-card-hotel {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.type-card-hotel {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.price-card-hotel {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  padding: 8px 22px 9px 23px;
  border: none;
  text-align: center;
}

.pagination {
width: 1060px;
margin: 0;
display: flex
}

.pagination-link-first {
width: 60px;
height: 60px;
color: #000000;
background-color: #F2F2F2;
margin-left: 70px;
text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-decoration: none;
margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 8px;
}

.page-footer-container {
display: flex;
margin: 0 auto;
}

.visually-hidden {
position: fixed;
transform: scale(0);
}
