/* Файл css/style.css */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;;
  background-color: #FFFFFF;
}

.button {
font-family: inherit;
font-size: 16px;
line-height: 20px;
font-weight: 700;
text-align: center;
color: #ffffff;
background-color: #756157;
text-decoration: none;
text-transform: uppercase;
}

.button-second {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-third {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.nav-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: capitalize;
}

.hero {
  color: #000000;;
  background-color: #FFFFFF;
  background-image: url("/images/index/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
}

.main-index {
  color: #000000;;
  background-color: #FFFFFF;
}

.advantage-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* List */
.advantages-list-City-Sedona {
  text-align: center;
}

/* Title */
.advantages-title-City-Sedona {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-City-Sedona {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title-service {
 font-family: "PT Sans", sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 text-transform: uppercase;
}

.advantages-description-service {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.question-title {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}

.question-subtitle {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.newsletter {
background-image: url("/images/index/subscribe.jpg");
background-size: 1200, 414,86;
background-repeat: no-repeat;
}

.page-footer-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer-subtitle {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}

.newsletter-form {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #000000;
}

/* Phone */
.contacts-phone {
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
text-align: center;
color: #000000;
}
